*/*Makelists.txt.user
build/
/CMakeFiles
#所有以buil为开头的目录
/buil*/
#递归
**/*CMakeFiles.txt.user
**/*CMakeFiles.txt.*
**/build-*
**/.vs*

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.pro.user
